src/main/java/AWSLambda/ServerlessAPPAmazonLanguageDefinition/APP12_Amazon_Language.json
{
  "Comment": "APP12 described by Amazon Language",
  "StartAt": "f1",
  "States": {
    "f1": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-east-1:104150740987:function:f1",
      "ResultPath": "$.f1_output",
      "OutputPath": "$.f1_output.body",
      "Next": "Parallel State 1"
    },
    "Parallel State 1": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "f2",
          "States": {
            "f2": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:ap-east-1:104150740987:function:f2",
              "ResultPath": "$.f2_output",
              "OutputPath": "$.f2_output.body",
              "Next": "Choice State 1"
            },
            "Choice State 1": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.para1",
                  "StringEquals": "f4",
                  "Next": "f4"
                },
                {
                  "Variable": "$.para1",
                  "StringEquals": "f5",
                  "Next": "f5"
                }
              ],
              "Default": "f4"
            },
            "f4": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:ap-east-1:104150740987:function:f4",
              "ResultPath": "$.f4_output",
              "OutputPath": "$.f4_output.body",
              "Next": "f7"
            },
            "f5": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:ap-east-1:104150740987:function:f5",
              "ResultPath": "$.f5_output",
              "OutputPath": "$.f5_output.body",
              "Next": "Parallel State 2"
            },
            "Parallel State 2": {
              "Type": "Parallel",
              "Branches": [
                {
                  "StartAt": "f11",
                  "States": {
                    "f11": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:ap-east-1:104150740987:function:f11",
                      "ResultPath": "$.f11_output",
                      "OutputPath": "$.f11_output.body",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "f12",
                  "States": {
                    "f12": {
                      "Type": "Task",
                      "Resource": "arn:aws:lambda:ap-east-1:104150740987:function:f12",
                      "ResultPath": "$.f12_output",
                      "OutputPath": "$.f12_output.body",
                      "End": true
                    }
                  }
                }
              ],
              "ResultPath": "$.parallel_state_2_output",
              "OutputPath": "$.parallel_state_2_output[0]",
              "Next": "f7"
            },
            "f7": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:ap-east-1:104150740987:function:f7",
              "ResultPath": "$.f7_output",
              "OutputPath": "$.f7_output.body",
              "End": true
            }
          }
        },
        {
          "StartAt": "f3",
          "States": {
            "f3": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:ap-east-1:104150740987:function:f3",
              "ResultPath": "$.f3_output",
              "OutputPath": "$.f3_output.body",
              "Next": "Choice State 3"
            },
            "Choice State 3": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.para2",
                  "StringEquals": "f9",
                  "Next": "f9"
                },
                {
                  "Variable": "$.para2",
                  "StringEquals": "f10",
                  "Next": "f10"
                }
              ],
              "Default": "f9"
            },
            "f9": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:ap-east-1:104150740987:function:f9",
              "ResultPath": "$.f9_output",
              "OutputPath": "$.f9_output.body",
              "Next": "f6"
            },
            "f10": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:ap-east-1:104150740987:function:f10",
              "ResultPath": "$.f10_output",
              "OutputPath": "$.f10_output.body",
              "Next": "f6"
            },
            "f6": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:ap-east-1:104150740987:function:f6",
              "ResultPath": "$.f6_output",
              "OutputPath": "$.f6_output.body",
              "End": true
            }
          }
        }
      ],
      "ResultPath": "$.parallel_state_1_output",
      "OutputPath": "$.parallel_state_1_output[0]",
      "Next": "f8"
    },
    "f8": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-east-1:104150740987:function:f8",
      "ResultPath": "$.f8_output",
      "End": true
    }
  }
}